canvas{
  border:1px solid red;
  background-color: #007d00;
}

#btnShuffleDeck {
  position: relative;
  left: 300px;
}

#canvas-wrapper {
  position: relative;
}

#btnAskCard {
  position: absolute;
}

.hide {
  display: none;
}
