canvas{
  border:1px solid red;
  background-color: #007d00;
}

#btnShuffleDeck {
  position: relative;
  left: 300px;
}

#canvas-wrapper {
  position: relative;
}

#btnAskCard {
  position: absolute;
}

.hide {
  display: none;
}

.GameTitle{
  text-align: center;
  font-size: 30;
  font-weight: bold;
}

.GameOverPanel {
  background-color: white;
  opacity: 0.5;
  position: absolute;
  left: 300px;
  top: 200px;
  width: 500px;
  height: 200px;
  text-align: center;
}

.GameOverPanelText {
  margin-top: 100px;
  opacity: 1;
}

.DashboardComponent {
  padding-left: 20px;
  padding-right: 20px;
}

.GameSelectComponent {
  border: 2px solid black;
  height: 75%;
  text-align: center;
}

.RoomSelectComponent {
  border: 2px solid black;
  height: 75%;
  overflow: auto;
}

.container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
}

.RoomDetails{
  display: block;
  border: 1px solid black;
}

.UnselectedGameComponent {
  border: 1px solid black;
  border-radius: 8px;
  width: 100px;
  height: 150px;
  cursor: pointer;
  display: inline-block;
  margin: 2% 1%;
}

.SelectedGameComponent {
  border: 1px solid red;
  border-radius: 8px;
  width: 100px;
  height: 150px;
  cursor: pointer;
  display: inline-block;
  margin: 2% 1%;
}

.GameText {
  text-align: center;
  margin-top: 60%;
}
